{% if use_dhcp %}
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
{% else %}
# CONFIG_IP_PNP is not set
{% endif %}
CONFIG_BROADCOM_PHY=y
CONFIG_NET_VENDOR_BROADCOM=y
CONFIG_TIGON3=y
CONFIG_IGB_HWMON=y
CONFIG_IGB=y
CONFIG_RTC_I2C_AND_SPI=y
CONFIG_REGMAP_I2C=y
CONFIG_I2C_ALGOBIT=y
CONFIG_NET_VENDOR_INTEL=y
CONFIG_MD=y
CONFIG_MD_RAID1=y
CONFIG_DM_CRYPT=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_XTS=y
